* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.claro {
    background-color: white;
}

.escuro {
    background-color: rgb(34, 33, 33);
    color: white !important;
}
header {
    width: 100vw;
    height: 8vh;
}

header nav {
    text-align: right;
}


.menu {
    padding: 1vw;
    margin-left: auto;
}

header img {
    height: 4vh;
    width: 5wv;
}

.imgpesquisa {
    display: block;
    margin: auto;
    width: 35vw;
    height: 30vh;
}

.pesquisa {
    text-align: center;
}

button {
    display: block;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    line-height: 3.5vh;
}

/* Pagina Brasil.html */

#imgbrasil {
    width: 40vw ;
    height: 30vh;
    display: block;
    margin: auto;
}

#textobrasil {
    width: 40vw;
    text-align: justify;
    display: block;
    margin: auto;
    color: darkgreen;
}

/* Pagina About.html */

#imgabout {
    width: 30vw ;
    height: 50vh;
    display: block;
    margin: auto;
}

#textoabout {
    width: 30vw;
    text-align: justify;
    display: block;
    margin: auto;
}

/* Pagina Publicidade.html */

#imgpublicidade {
    width: 40vw ;
    height: 30vh;
    display: block;
    margin: auto;
}

#textopublicidade {
    width: 40vw;
    text-align: justify;
    display: block;
    margin: auto;
    color: dodgerblue;
}

/* Pagina Negocios.html */

#imgnegocios {
    width: 40vw ;
    height: 30vh;
    display: block;
    margin: auto;
}

#textonegocios {
    width: 40vw;
    text-align: justify;
    display: block;
    margin: auto;
    color: black;
}

/* Pagina Privacidade.html */

#imgprivacidade {
    width: 40vw ;
    height: 30vh;
    display: block;
    margin: auto;
}

#textoprivacidade {
    width: 40vw;
    text-align: justify;
    display: block;
    margin: auto;
    color: black;
}

/* Pagina Termos.html */

#imgtermos {
    width: 40vw ;
    height: 30vh;
    display: block;
    margin: auto;
}

#textotermos {
    width: 40vw;
    text-align: justify;
    display: block;
    margin: auto;
    color: black;
}

/* Pagina Pesquisa.html */

#imgpesquisa1 {
    text-align: left;
}

#ladoesquerdo {
    width: 35vw;
    height: 60vh;
    text-align: justify;
    float: left;
    padding: 5em 5em;
}

#ladoesquerdo1 {
    border: 1px solid black;
}

#ladoesquerdo2 {
    border: 1px solid black;
}

#ladodireito {
    width: 40vw;
    height: 60vh;
    text-align: justify;
    float: right;
    padding: 8em 5em;
}

.imglogos {
    width: 12vw;
    height: 20vh;
}

